*{
	margin: 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

body{
	width: 100%;
}

ul li {
	list-style: none;
}

a:visited{
	color: black;
}

a{
	color: #18332B;
}

nav{
	width: 100%;
	padding-bottom: 0px;
	padding-top: 14px;
	font-size: 16px;
}

nav a{
	text-decoration: none;
	color: black;
}


#app-logo{
  background-image: url('images/wishlist.png');
  background-size: 200px;
  background-repeat: no-repeat;
  float: left;
  height: 45px;
  margin-left: 32px;
  margin-top: -5px;
  width: 220px;
}
#user-nav{
  float: right;
  margin-right: 271px;
  margin-top: 5px;
}

#search-form{
   position: absolute;
   right: 46px;
   margin-top: 3px;
}
#search-box {
	width: 148px;
  text-align: left;
}

#search-results{
  display: inline-block;
  margin-top: 50px;
  padding-right: 215px;
}
#search-container{
	padding-bottom: 30px;

}

#search-container ul{
	padding: 0px;

}

#search-container li{
	padding-top: 25px;
}

#search-item-name{
	font-size: 18px;
}
#search-button{
	color: white;
  background: #18332B;
  border:none;
}
#log-in-container{
	display: inline-block;

}

#user-img{
  border-radius: 100%;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin-bottom: 8px;
}

.addlist-button{
  font-size: 40px;
  margin-top: 8px;
  color: #617984;
}

.hidden {
	display: none;
}

.showmore-button{
	font-size: 22px;
	text-decoration: underline;
	font-weight: bold;
}

#trending-container h2{
	padding-bottom: 30px;
}

#trending-img{
  height: 115px;
  padding: 15px;
  padding-top: 25px;
}

#trending-container li{
  width: 323px;
  height: 265px;
  display: inline;
  float: left;
  border: 1px solid #657783;
  margin-bottom: -1px;
  margin-left: -4px;
  margin-right: 3px;

}


#user-city{
	text-decoration: overline;
	margin-bottom: 8px;
}


#useritems-img{
  height: 115px;
  padding: 15px;
  padding-top: 25px;
}
#useritems-container{
	margin-bottom: 40px;

} 
#useritems-container ul{
  margin-left: -35px;
}

#useritems-container li{
  width: 323px;
  height: 280px;
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 20px;
}
#useritems-container h4{
  color: #657783;
}

#useritems-img {
  height: 115px;
  padding: 15px;
  padding-top: 25px;
}

#useritems-container a{
	text-decoration: none;
}
#buy-button{
	background-color:#18332B;
	padding: 10px;
	border-radius: 40px;
	color: white;
}
#useritems-container { 
	display: inline-block;
}
#useritems-container h4 {
	height: 38px;
}
#user-index-container{
	margin-bottom: 60px;
}
#user-index-container h1{
	color: #18332B;
	padding-bottom: 20px;
}


#user-index-li{
	border: 1px solid white;
	width: 185px;
	height: 280px;
	display: inline-block;
	padding-top: 10px;
  margin-bottom: -103px;
}
#sign-up{
	margin-bottom: 60px;
}
#sign-up div{
	padding: 8px;
}
#sign-up input{
	width: 250px;
  height: 20px;
}
.devise-button{
	color: white;
  background: #18332B;
  border:none;
}

#login{
	margin-bottom: 60px;
}
#login div{
	padding: 8px;
}
#login input{
	width: 250px;
  height: 20px;
}
#login-remember{
	color: red;
}

#edit-login {
	margin-bottom: 60px;
}
#edit-login div{
	padding: 8px;
}
#edit-login input{
	width: 250px;
  height: 20px;
}
